<footer id="contact" class="container-fluid">
    <div class="container">
        
        <div class="row content-ro">
            <div class="col-lg-4 col-md-12 footer-contact">
                <h2>Contact Informatins</h2>
                <div class="address-row">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="detail">
                        <p>Plot No. 345, 346, 3rd floor Above Krozzon Bakery, Scheme 54 PU4, Vijay Nagar, Indore, Madhya Pradesh 452010</p>
                    </div>
                </div>
                <div class="address-row">
                    <div class="icon">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="detail">
                        <p>sales&#64;Elicitdigital.com <br> support&#64;Elicitdigital.com</p>
                    </div>
                </div>
                <div class="address-row">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="detail">
                        <p>075666 68629 <br> +91 xxx xxx xx</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 footer-links">
            <iframe src="https://maps.google.com/maps?q=elicit&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                      style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="footer-copy">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <p>Copyright © <a href="https://www.elicit.digital/">2023 Elicitdigital</a> | All right reserved.</p>
                </div>
                <div class="col-lg-4 col-md-6 socila-link">
                    <ul>
                        <li><a href="https://twitter.com/Elicit_Digital"><i class="fab fa-twitter"></i></a></li>
                        <li> <a href="https://www.facebook.com/ElicitInfotech/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/elicit.digital/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/elicit-digital/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>