 <section id="about" class="contianer-fluid about-us">
    <div class="container">
        <div class="row session-title">
            <h2>About Us</h2>
            <p>The Blood Donation Agent is to create an e-formation about the donor and organization that are related to donating the blood</p>
        </div>
         <div class="row">
             <div class="col-md-6 text">
                 <h2>About InstaDonor</h2>
                 <p>InstaDonor is a blood donation  mobile application designed to connect blood donors with individuals or organizations in need of blood. The app allows users to register as donors, find nearby blood donation centers, schedule appointments to donate blood, and receive notifications about urgent blood donation needs or upcoming local donation events.</p>
                 <p>Additionally, it provide information about eligibility criteria for donors, health benefits of donating blood, and guidelines for safe and successful donations. The app aims to facilitate the process of donating and acquiring blood, ultimately contributing to saving lives in times of medical emergencies.</p>
                 <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some formhumour, or randomised words which don't look even slightly believable. If you are going to use a passage. industry's standard dummy has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                 <p>Industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> -->
             </div>
             <div class="col-md-6 image">
                 <img src="assets/images/aboutLogo.png" alt="">
             </div>
         </div>
    </div>
    </section>