<section id="process" class="donation-care">
    <div class="container">
      <div class="row session-title">
          <h2>Donation Process</h2>
          <p style="margin-right: 10px;">The donation process from the time you arrive center until the time you leave</p>
      </div>
       <div class="row">
            <div class="col-md-3 col-sm-6 vd">
               <div class="bkjiu">
                <img src="assets/images/gallery/g1.jpg" alt="">
                <h4><b>1 - </b>Registration</h4>
                <p>Donors are required to fill out a registration form that includes personal information such as name, contact details, address, date of birth, and other relevant details like about the donor's health history and lifestyle.
                <!-- <button class="btn btn-sm btn-danger">Readmore <i class="fas fa-arrow-right"></i></button> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
               <div class="bkjiu">
                <img src="assets/images/gallery/g2.jpg" alt="">
                   <h4><b>2 - </b>Health History</h4>
                     <p>A healthcare professional may conduct an interview with the donor to discuss their health history, recent travel, medications, and other factors that could impact the safety of the donation</p>
                <!-- <button class="btn btn-sm btn-danger">Readmore <i class="fas fa-arrow-right"></i></button> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
               <div class="bkjiu">
                <img src="assets/images/gallery/g3.jpg" alt="">
                   <h4><b>3 - </b>Donation</h4>
                   <p>Once cleared, the donor is directed to the donation area.
                     A trained phlebotomist collects a unit of blood using sterile techniques.
                     The actual blood donation process typically takes around 10-15 minutes.
                     </p>
                  <!-- <button class="btn btn-sm btn-danger">Readmore <i class="fas fa-arrow-right"></i></button> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
               <div class="bkjiu">
                   <img src="assets/images/gallery/g4.jpg" alt="">
                   <h4><b>4 - </b>Save Life</h4>
                    <p>Giving blood is a uniquely powerful act. Effective coordination can dramatically increase its life-saving impact
                     </p>
                     <p>People we don’t know; people we may never meet.</p>
                    <!-- <button class="btn btn-sm btn-danger">Readmore <i class="fas fa-arrow-right"></i></button> -->
               </div> 
            </div>
       </div>   
    </div>
</section>